
.card {
    border: 1px solid gainsboro;
    background-color: var(--background-color);
    color: var(--color);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);
    border-radius: 5px;
    width: 300px;
    transition: .5s;
}

.card img {
    object-fit: fill;
    width: 98%;
    height: 74%;
    border-radius: 5px;
    transition-duration: .5s;
    margin-top: .1rem;
    height: 250;
    width: 250;
  }

.worldsContainer {
    padding: 1rem;
    min-height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - (var(--top-nav-height)));
    background-color: var(--background-color);
}

.worldContainer {
    background-color: var(--secondary-background-color);
    overflow-y: scroll;
    transition: .25s;
    height: 100%;
}

.audioCardsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.worldHeader {
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
    height: fit-content;
    box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
    border-bottom: 1px solid var(--border-primary);
    text-align: left;
    padding: .5rem 0 .5rem 0;
}

#artCard {
    border: solid;
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: .1rem;
}

#artCard img {
    height: 20rem;
    width: 20rem;
    object-fit: fill;
    border-radius: 5px;
}

#artContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 10rem;
}


.videosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 10rem;
}

.videosContainer video {
    margin-top: 5rem;
}